/* body{
    margin:0;
}

.contaner{
    width:90%;
    max-width: 1200px;
    margin: auto;
} */


#navbar{
    display:flex;
    /* flex-direction: row; */
     /* horizontal */
    justify-content:space-between;
    /* vartical */
    align-items: center;
    padding:0,20px;
    background-color: rgb(71, 95, 95);
    border-radius:10px;
}

#navbar ul{
    list-style: none;
    display: flex;
    /* background-color: rgb(145, 9, 187); */
    gap:20px;
    justify-content:center;
}

#navbar img{
    width:28px;
    height:50px;
    border-radius:50%;
}

#hero{
    /* background-color:blue; */
    background-image: url("https://static.photos/blurred/640x360/139.webp");
    background-size: cover;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

#hero,h3{
    font-size:60px ;
}

.grid.item{
    background-color: blueviolet;
    margin:10px;
    width:200px;
    height:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.grid.item.img{
    width: 90%;
    border-radius:50px ;
    height: 150px;
}
.grid.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.info{
    display: flex;
    align-items: center;
    gap:25px;
}